/* Estilos para la barra de navegación */
.navbar {
    background-color: #333; /* Color de fondo de la barra de navegación */
    color: white; /* Color del texto en la barra de navegación */
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Estilo para el logotipo */
.logo {
    width: 100px; /* Ancho de la imagen del logotipo */
    margin-left: 200px;
}

/* Estilo para el título */
.title {
    font-size: 24px; /* Tamaño de fuente del título */
    margin-right: 20px; /* Margen a la derecha del título */
}

/* Estilos para los elementos del menú */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex; /* Muestra los elementos del menú en línea/horizontalmente */
}

.menu li {
    margin-right: 30px; /* Espacio entre elementos del menú */
}

/* Estilos para los enlaces del menú */
.menu li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: white; /* Color del texto del enlace */
}

.encabezado {
    position: relative;

}

/* Estilos para la imagen con opacidad */
.encabezado img {
    width: 100%;
    height: 80vh;
    opacity: 0,8; 
}


/* Estilos para el contenedor de texto */
.texto-superpuesto {
    position: absolute;
    top: 50%; /* Alinea verticalmente al centro de la imagen */
    right: 0; /* Alinea el contenedor de texto al lado derecho de la imagen */
    transform: translate(0, -50%); /* Alinea verticalmente al centro de la imagen */
    padding: 10px;
    max-width: 40%;
    text-align: right; /* Alinea el texto a la derecha */
}

/* Estilos para el título */
.texto-superpuesto h2 {
    text-align: right;
    color: white; /* Color del texto en blanco */
}

/* Estilos para el texto */
.texto-superpuesto p {
    color: white; /* Color del texto en blanco */
    font-size: 1.2vw;
}

/*estilo para los botones*/
/* Estilo para el botón primario con fondo transparente */
.btn-primary {
    background-color: transparent; /* Fondo transparente */
    color: #fff; /* Color del texto en azul */
    border: 1px solid #007bff; /* Borde azul */
}

/* Estilo para el botón secundario con fondo verde */
.btn-secondary {
    background-color: #28a745; /* Fondo verde */
    color: #fff; /* Color del texto en blanco */
    border: 1px solid #28a745; /* Borde verde */
}

h6.text-center {
    margin-top: 10px;
}

/*estilo para las cards*/

.custom-card {
    height: 100%;
}
.custom-img {
    height: 300px; /* Ajusta la altura de la imagen según tus necesidades */
}


    /* Estilos para los botones "Javascript" */
    .btn-javascript {
        background-color: yellow;
        color: black;
    }

    /* Estilos para los botones "React" */
    .btn-react {
        background-color: turquoise;
        color: black;
    }

    /* Estilos para el botón "Negocios" */
    .btn-negocios {
        background-color: gray;
        color: white;
    }

    /* Estilos para el botón "Startups" */
    .btn-startups {
        background-color: red;
        color: white;
    }


    /* Estilos para honolulu */
    .divDoble .col-6.d-inline.divDoble {
        background-color: #3d4447; /* Color de fondo gris */
        padding: 20px;
        
    }

    .divDoble .col-6 {
        margin: 0;
        padding: 0;
    }